@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
header{
    background-color: black;
    height: 200px;
    width:100%;
    margin: auto;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.514);
}
header h1{
    font-family: 'Berkshire Swash', cursive;
    color: white;
    text-align: center;
    font-size: 50px;
    padding: 50px 0px 10px 0px;
    

}
header p{
    font-family:'Courier New', Courier, monospace;
    color: white;
    text-align: center;

}
header a{
    text-decoration:none;
   
}
a:visited{
    color: white;
}
a:hover{
    color: dimgray;
}
main p{ 
    font: italic bolder 2em  'Gill Sans', 'Gill Sans MT','Trebuchet MS' ;
    text-align: justify;
    margin: 40px;
    padding: 50px;
    padding-top: 40px;
   
}

 div.bloco1{

    background-color: white;
   
    max-height:  100vh;
     /* background-size: cover; */
    background-image: url('imagem/amor_passaros.jpg');
   
     background-attachment: fixed;
     background-position:  right center  ;
    
    
   

}
div.bloco2{
    max-height:  100vh;
     background-image: url('imagem/amor-antigo.jpg');
     background-size: 100% 100%;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-position:  top center ;
}

 p#paragrafo-1{
    
     max-width: 400px;
     min-width: 300px;
     max-height: 300px;
     min-height: 200px;
     background-color: rgba(0, 0, 0, 0.513);
     color: white; 
}

p#paragrafo-2{
  
    max-width: 400px;
    min-width: 300px;
    background-color: rgba(0, 0, 0, 0.513);
    color: white; 
}
footer{
    color: white;
    background-color: black;
    width: 100%;
    height: 30px;
    padding: 10px;
    text-align: center;
}